!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title
      = "#{@blog.title} :: #{@blog.tagline}"
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    = stylesheet_link_tag 'default'
    = javascript_include_tag 'jquery-1.4.2.min.js' 
    :css
      @import "/stylesheets/gallery.css";
  %body
    #wrapper
      #header
        #logo
          %h1
            = link_to @blog.title, url(:blog, :index)
          %h2
            %a{:href => "http://www.freecsstemplates.org/"} 
              = @blog.tagline
        / end div#logo
        #menu
          %ul
            %li.active
              = link_to "Homepage", url(:blog, :index)
            %li
              %a{:href => "#"} Products
            %li
              %a{:href => "#"} About
            %li
              %a{:href => "#"} Contact
        / end div#menu
      %div
        #page
          #page-bgtop
            #content
              - @blog.posts.sort_by(&:created_at).reverse.each do |post|
                .post
                  .post-bgtop
                    .post-bgbtm
                      %h2.title
                        = link_to post.title, url(:blog, :index)

                      %p.byline
                        Posted by
                        = link_to post.account.nickname, url(:blog, :index)
                        = "-"
                        = post.created_at.strftime("%B %d, %Y %H:%I:%M") #April 22, 2010
                      .entry
                        %p
                          = post.summary
                      .meta
                        %p
                          = "Tags:"
                          - post.tags.each do |tag|
                            = link_to tag.strip, url(:blog, :index)
                        %p
                          = link_to "View More", url(:blog, :index), :class => "more"
              
            / end div#content
            #sidebar
              #sidebar-bgtop
                #sidebar-bgbtm
                  %ul
                    %li#search
                      %h2 Search
                      %form{:action => "", :method => "get"}
                        %fieldset
                          %input#seach-text{:name => "s", :type => "text", :value => ""}/
                          %input#search-submit{:type => "submit", :value => "Search"}/
                    %li
                      %h2 Latest Entries
                      %ul
                        - @blog.posts.limit(20).each do |post|
                          %li
                            = link_to post.title, url(:blog, :index)

                    %li
                      %h2 Blog Roll
                      %ul
                        %li
                          %a{:href => "#"} Nec metus sed donec
                        %li
                          %a{:href => "#"} Magna lacus bibendum mauris
                        %li
                          %a{:href => "#"} Velit semper nisi molestie
                        %li
                          %a{:href => "#"} Eget tempor eget nonummy
                        %li
                          %a{:href => "#"} Nec metus sed donec
                        %li
                          %a{:href => "#"} Magna lacus bibendum mauris
                        %li
                          %a{:href => "#"} Velit semper nisi molestie
                    %li
                      %h2 latest comments
                      %ul
                        %li
                          %a{:href => "#"} Nec metus sed donec
                        %li
                          %a{:href => "#"} Magna lacus bibendum mauris
                        %li
                          %a{:href => "#"} Velit semper nisi molestie
                        %li
                          %a{:href => "#"} Eget tempor eget nonummy
                        %li
                          %a{:href => "#"} Nec metus sed donec
                        %li
                          %a{:href => "#"} Velit semper nisi molestie
                    %li
                      %h2 social networks
                      %ul
                        %li
                          %a{:href => "#"} @zenom_
                        %li
                          %a{:href => "#"} linked in
                        %li
                          %a{:href => "#"} last fm

            / end div#sidebar
            %div{:style => "clear: both; height: 1px"}
        / end div#page
      / end div#wrapper
      #footer-wrapper
        #footer
          %p#legal
            Copyright &copy; 2007 Vertebrate . All Rights Reserved. Designed by
            = succeed "." do
              %a{:href => "http://www.freecsstemplates.org/"} Free CSS Templates
          %p#links
            %a{:href => "#"} Privacy Policy
            |
            %a{:href => "#"} Terms of Use
      / end div#footer